@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

.inter-fonts {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

/* Shared Style */
body {
    background: #111111;
    margin: 100px;
}

h1, h2, h3{
    color: white;
}


p{
color: rgba(255, 255, 255, 0.5);
font-family: Inter;
font-size: 16px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0.5px;
text-align: left;
}



/* nav section */

.orange{
    color: rgb(230, 83, 60);
    font-style: italic;
    font-weight: 800;
    font-size: 50px;
}

.nav-section{
    margin: 50px;
    max-width: 1300px;
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    
}

  .nav-section>ul{
    display: flex;
    align-items: center;
    list-style: none;
    color: rgb(255, 255, 255);
    /* padding: 10px; */
    /* border: 1px solid rgba(255, 255, 255, 0.1); */
    border-radius: 39px;
}

.nav-section>ul>li{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
}


.home{
    border-radius: 46px;

    background: rgb(230, 83, 60);
    padding: 8px 20px 8px 20px;
    text-align: center;
}



/* hero section */

.primary{
    display: flex;
    justify-content: space-between;
}

.text{
 color: white;
 font-size: 35px;
 margin-left: 50px;
}


.orange-button{
    width: 224px;
    height: 54px;
    border-radius: 42px;
    background: rgb(230, 83, 60);
    color: white;
    font-size: large;
}

.regular-button{
    width: 224px;
    height: 54px;
    border-radius: 42px;
    color: white;
    background: black;
    font-size: large;
    border: 1px solid rgb(255, 255, 255);
}



.leftbox{
    width: 206px;
    height: 96px;
    color: white;
    display: flex;
    align-items: center;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    position: absolute;
    right: 343px;
    bottom: 84px;
    backdrop-filter: blur(20px);
    background: rgba(48, 48, 48, 0.54);
    padding-left: 20px;
}

.ball{
    height: 30px;
    width: 30px;
    /* color: rgb(230, 83, 60); */
    background: rgb(230, 83, 60);
    border-radius: 50%;
}

.rightbox{
    width: 206px;
    height: 96px;
    color: white;
    /* display: flex; */
    align-items: center;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    position: absolute;
    backdrop-filter: blur(20px);
    background: rgba(48, 48, 48, 0.54);
    padding-left: 20px;
    position: absolute;
    bottom: 242px;
    right: 27px;
}


/* habit section */

.text-section{
    text-align: center;
    color: white;
}

.text-section>p{
    text-align: center;
}

.photo-gallery{
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
}

.habit-photo{
    border-radius: 50%;
}